/* register.css */

body {
    background-color: #4c3db2; /* Mor arka plan rengi */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

h2 {
    color: #4c3db2;
}

.register {
    width: 100%;
    max-width: 600px;
    background-color: #fff; /* Beyaz form arka planı */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
    margin: 0 20px;
}

.register__title {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
    color: rebeccapurple;
}

.form-group {
    margin-bottom: 20px;
}

    .form-group label {
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
        color: #333;
    }

.form-control {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

    .form-control:focus {
        border-color: #4c3db2;
        outline: none;
        box-shadow: 0 0 5px rgba(76, 61, 178, 0.3);
    }

.register__button {
    width: 100%;
    padding: 15px;
    background-color: #6a1b9a; /* Mor buton rengi */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .register__button:hover {
        background-color: #4a148c; /* Buton üzerine gelindiğinde koyu mor */
    }

@media (max-width: 600px) {
    .register {
        padding: 20px;
        margin-top: 20px;
    }

    .register__title {
        font-size: 24px;
    }

    .form-control {
        font-size: 14px;
    }

    .register__button {
        font-size: 16px;
    }
}
